sudo: true
services: 
- mongodb
- redis-server
language: node_js
node_js:
  - stable
env:
  - PORT=3000
  - APP_NAME=testing_votinh_app
script: npm install && npm test
#   # Send coverage data to Coveralls
# after_script: istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage