
extends layout

append my_page
  .main.container
        .row
          .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Hello
          .col-md-6.col-md-offset-3
          a(href="/auth/google/login")
            button(type="button") Sign In with Google
          .col-md-6.col-md-offset-3
          a(href="/auth/google/logout")
            button(type="button") Logout  Google


block sidebar
  .widget
    h1 Widget
    p
      |Hello